<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AADTALK 로그인</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div id="header">Header contents</div>
  <div id="container">
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary">이전으로</button></br></br>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p class="text-center font-weight-bold">로그인</p>
            <form action="/auth/aad" method="post">
                <input type="submit" id="login" class="btn btn-block login-btn" type="button" value="AAD로 시작하기">
            </form>
            <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 18px; background-color: #fff; padding: 0 10px;">
                  또는 <!--Padding is optional-->
                </span>
            </div></br>
            <form action="/auth/local" method="post">
                <div class="form-group">
                  <label for="username"><b>아이디(이메일)</b></label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="아아디(이메일)을 입력해주세요">
                </div>
                <div class="form-group mb-4">
                  <label for="password"><b>비밀번호</b></label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                </div>
                <div class="form-group mb-4">
                <input type="submit" id="login" class="btn btn-block login-btn form-control" type="button" value="로그인하기">
                </div>
                <div class="form-group mb-4">
                  <div class="row">
                  <div class="form-check col-md-6">
                  <input type="checkbox" id="remember" name="remember">
                  <label for "remember" class="form-check-label">아이디 저장</label>
                  </div>
                  <div class="form-check col-md-6">
                  <input type="checkbox" id="member" name="member" value="0">
                  <label for "member" class="form-check-label">관리자 로그인</label>
                  </div>
                  </div>
                </div>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
  </div>
</body>
</html>


