  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-3"></div>
          <div class="col-sm-6"></div><!-- /.col -->
          <div class="col-sm-3"></div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">만나서 반가워요 ATalk 입니다.</h5>
              </div>
              <div class="card-body">
                <img src="images/face.png" class="rounded mx-auto d-block img-fluid img-center" alt="..."></br>
                <!--
                <h6 class="card-title">Special title treatment</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                -->
                <table class="table table-borderless text-center">
                    <tr>
                        <td><a href="#" class="btn btn-block btn-secondary float-left">토크 입장하기</a></td>
                        <td><a href="#" class="btn btn-block btn-secondary float-right">토크 만들기</a></td>
                    </tr>
                </table>
                <!--
                <a href="#" class="btn btn-secondary">토크 입장하기</a>
                <a href="#" class="btn btn-secondary float-right">토크 만들기</a>
                -->
              </div>
            </div>
          </div>
          <div class="col-lg-6"></div>
          <!-- /.col-md- -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->