<!DOCTYPE html>
  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="container">
    <!-- Default to the left -->
    <small><strong>Copyright &copy; 2023 <a href="#">ATalk</a>.</strong> All rights reserved.</small>
    </div>
  </footer>
</div>